In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
year2000_df = pd.read_csv("Data/final_tmdb_data_2000.csv.gz")
year2001_df = pd.read_csv("Data/final_tmdb_data_2001.csv.gz")

In [15]:
year2000_df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.4,21.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,4.4,7.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.0,0.0,NaN
4,tt0116748,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.5,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,tt8929736,0.0,NaN,NaN,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",NaN,373320.0,ta,பட்ஜெட் பத்மநாபன்,...,0.0,153.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Budget Padmanabhan,0.0,5.8,2.0,NaN
2516,tt9209606,0.0,NaN,NaN,0.0,[],NaN,878312.0,mg,Lolovokatra 2,...,0.0,90.0,[],Released,NaN,Lolovokatra 2,0.0,0.0,0.0,NaN
2517,tt9486348,0.0,NaN,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,514110.0,ar,شجيع السيما,...,0.0,95.0,"[{'english_name': 'Arabic', 'iso_639_1': 'ar',...",Released,NaN,shajie alsiyama,0.0,4.5,2.0,NaN
2518,tt9748646,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,580983.0,pt,Uma outra cidade,...,0.0,58.0,"[{'english_name': 'Portuguese', 'iso_639_1': '...",Released,NaN,Uma outra cidade,0.0,0.0,0.0,NaN
2519,tt9755166,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,581080.0,en,The Sahara's Secret Garden,...,0.0,54.0,[],Released,NaN,The Sahara's Secret Garden,0.0,7.0,1.0,NaN

In [16]:
year2001_df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.4,21.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,4.4,7.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.0,0.0,NaN
4,tt0116748,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.5,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,tt9668554,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,274300.0,en,Armageddon: Bible Prophecies and the Predictio...,...,0.0,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Armageddon: Bible Prophecies and the Predictio...,0.0,0.0,0.0,NaN
3328,tt9798698,0.0,NaN,NaN,0.0,[],NaN,580269.0,en,Gay holocaust,...,0.0,0.0,[],Released,NaN,Gay holocaust,0.0,0.0,0.0,NaN
3329,tt9875278,0.0,NaN,NaN,0.0,[],NaN,657037.0,en,Meeting My Daughter,...,0.0,0.0,[],Released,NaN,Meeting My Daughter,0.0,0.0,0.0,NaN
3330,tt0233481,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,20216.0,en,Cookers,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This Crystal Meth House Is Haunted,Cookers,0.0,4.9,18.0,NaN
3331,tt0287986,0.0,/oApWODJ1tPnZvI7f3CVpIcIFBw9.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,27204.0,fr,"Dieu est grand, je suis toute petite",...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Is it faith or just a fad?,God Is Great and I'm Not,0.0,4.7,19.0,NaN

In [18]:
combined_df = year2000_df.append(year2001_df)
combined_df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.4,21.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,4.4,7.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.0,0.0,NaN
4,tt0116748,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,579396.0,hi,Karobaar,...,0.0,180.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,The Business of Love,Karobaar,0.0,5.5,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,tt9668554,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,274300.0,en,Armageddon: Bible Prophecies and the Predictio...,...,0.0,NaN,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Armageddon: Bible Prophecies and the Predictio...,0.0,0.0,0.0,NaN
3328,tt9798698,0.0,NaN,NaN,0.0,[],NaN,580269.0,en,Gay holocaust,...,0.0,0.0,[],Released,NaN,Gay holocaust,0.0,0.0,0.0,NaN
3329,tt9875278,0.0,NaN,NaN,0.0,[],NaN,657037.0,en,Meeting My Daughter,...,0.0,0.0,[],Released,NaN,Meeting My Daughter,0.0,0.0,0.0,NaN
3330,tt0233481,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,20216.0,en,Cookers,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This Crystal Meth House Is Haunted,Cookers,0.0,4.9,18.0,NaN
3331,tt0287986,0.0,/oApWODJ1tPnZvI7f3CVpIcIFBw9.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,27204.0,fr,"Dieu est grand, je suis toute petite",...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Is it faith or just a fad?,God Is Great and I'm Not,0.0,4.7,19.0,NaN

How many movies had at least some valid financial information?
(values > 0 for budget OR revenue)

In [25]:
financial_filter = (combined_df['budget'] > 0) | (combined_df['revenue'] > 0)
combined_financial_df = combined_df[financial_filter]
combined_financial_df.count()

#There are 940 movies with relvant financial data

imdb_id                  940
adult                    940
backdrop_path            752
belongs_to_collection    149
budget                   940
genres                   940
homepage                 108
id                       940
original_language        940
original_title           940
overview                 921
popularity               940
poster_path              897
production_companies     940
production_countries     940
release_date             939
revenue                  940
runtime                  939
spoken_languages         940
status                   940
tagline                  683
title                    940
video                    940
vote_average             940
vote_count               940
certification            595
dtype: int64

How Many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [28]:
combined_financial_df['certification'].value_counts()

R        317
PG-13    182
PG        50
G         23
NR        22
NC-17      1
Name: certification, dtype: int64

In [44]:
revenue_mean_df = combined_financial_df.groupby('certification')\
            ['revenue']
revenue_mean_df.mean()

certification
G        1.079725e+08
NC-17    1.167800e+04
NR       9.059542e+06
PG       1.036813e+08
PG-13    1.016496e+08
R        3.355680e+07
Name: revenue, dtype: float64

What is the average budget per certification category?

In [51]:
budget_mean_df = combined_financial_df.groupby('certification')\
            ['budget']
budget_mean_df.mean()

certification
G        4.014000e+07
NC-17    0.000000e+00
NR       7.731822e+06
PG       4.644300e+07
PG-13    4.529345e+07
R        2.046095e+07
Name: budget, dtype: float64